.portfolio {
    margin: 50px auto 100px auto;

    .text {
        text-align: center;
        width: 80%;
        margin: auto;

        h2 {
            color: var(--secondary-text);
        }

        p {
            color: var(--link-color);
            margin: 8px auto 0 auto;
            max-width: 70%;
        }
    }
}